body {
    margin: 40px;
    background-color: rgb(139, 99, 214);
    font-family: 'Courier New', Courier, monospace;
}

body > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body > ul {
    list-style: none;
    display: flex;
}

.show_item {
    background-color: purple;
    margin-right: 30px;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 10px 10px 10px rgba(0,0,0, .5);
}

.form-item {
    width: 200px;
    clear: both;
}

.form-item input {
    width: 100%;
    clear: both;
}