body {
    margin: 40px;
    background-color: rgb(139, 99, 214);
    font-family: 'Courier New', Courier, monospace;
}

body > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body > ul {
    list-style: none;
    display: flex;
}

.show_item {
    background-color: rgb(60, 146, 196);
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0, .5);
    max-width: 250px;
}

.form-item {
    width: 200px;
    clear: both;
}

.form-item input {
    width: 100%;
    clear: both;
}

input[type=text], input[type=number] {
    background-color: royalblue;
    color: rgb(9, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 5px;
}

.form-item textarea {
    background-color: rgb(122, 156, 248);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 5px;
    width: 400px;
}

#form-button {
    background-color: rgb(114, 218, 250);
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.del-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: purple;
    color: rgb(98, 209, 243);
}

